* {
  margin: 0;
  padding: 0;
}


.cabecalho {
  background-color: #f5d693;
  color: rgb(23, 3, 3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
}

.cabecalho-imagem {
  width: 5%;
}

.cabecalho-lista-item {
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}

.escola-imagem {
  width: 25%;
}

.escola {
  background-image: linear-gradient(#e6cf9e, #f3f3e0);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.escola-div-conteudo {
  width: 35%;
}

.escola-titulo {
  font-size: 120%;
  padding: 20px 0;
}

.estudante-imagem {
  width: 40%;
}

.estudante-icone {
  width: 35px;
}

.estudante-div {
  text-align: center;
  padding: 20px 20px;
}

.estudantes {
  background-color: #FAFDD7;
}

.estudante-titulo{
text-align: center;
padding: 30px 0;
font-size: 32px;
color: black;
}
.estudante-todos{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
}

.rodape {
  background-color: black;
}

.rodape-texto{
  color: white;
  font-size: 32px;
  padding: 24px;
}