*{
  margin: 0;
  padding: 0;
}


.cabecalho{
  background-color: rgb(237, 237, 185);
color: rgb(23, 3, 3);
display: flex;
justify-content:space-around;
align-items: center;
padding: 24px;
}
.cabecalho-imagem{
  width: 20%;
}

.cabecalho-lista-item{  
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}


